@charset "UTF-8";

/* 배경 사진 */
.container {
    margin-top: 0 !important;
}

.container {
    background-color: rgba(92, 92, 92, 0.5);
    border-radius: 2rem;
    min-height: 71vh !important;
    padding: 3.5rem;
    padding-bottom: 1rem;
    margin: 5rem auto !important;
    width: 45%;
}


/* 폼 사이즈 조절 */
.login-form {
    margin: auto;
    padding-top: 10%;
    width: 70%;
}


/* 폼 조절 */
.login-form .form-label {
    color: #ffffff;
    margin-top: 1.6rem;
}

.login-form .form-control {
    padding: 0.7rem;
}

.login-form .form-control::placeholder {
    font-size: 0.9rem;
}


/* 회원이 아니신가요? */
.login-form .go-signup {
    display: flex;
    justify-content: center;
    margin: auto;
}

.login-form .go-signup a {
    color: #cccccc;
    font-size: 0.9rem;
    text-decoration: none;
}


/* 로그인 버튼 */
.login-form .login-button {
    align-items: center;
    background-color: #ECE7B4;
    border: none;
    border-radius: 20rem;
    color: #666666;
    display: flex;
    font-weight: 600;
    height: 4rem;
    justify-content: center;
    margin: 4.5rem auto 10rem;
    width: 13rem;
}