@charset "UTF-8";

/* 전체 여백 */
.container {
    background-color: rgba(92, 92, 92, 0.5);
    border-radius: 2rem;
    padding: 3.5rem;
    padding-bottom: 1rem;
    margin: 5rem auto !important;
    width: 50%;
}


/* 폼 사이즈 조절 */
.password-form {
    margin: auto;
    padding-top: 10%;
    width: 62%;
}


/* 폼 조절 */
.password-form .form-label {
    color: #ffffff;
    margin-top: 1.6rem;
}

.password-form .form-control {
    padding: 0.7rem;
}

.password-form .form-control::placeholder {
    font-size: 0.9rem;
}

.password-form .form-text {
    color: #b8b8b8;
    font-size: 0.8rem;
}

.password-form .form-text a {
    color: #ECE7B4;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
}

.form-control-static {
    color: #e2e2e2;
    font-size: 0.9rem;
}


/* 버튼 위치 조절 */
.buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}


/* 수정 버튼 */
.update-button {
    align-items: center;
    background-color: #ECE7B4;
    border: none;
    border-radius: 20rem;
    color: #666666;
    font-weight: 600;
    height: 3.5rem;
    margin: 4.5rem auto 10rem;
    width: 11rem;
}


/* 뒤로가기 버튼 */
.back-button {
    align-items: center;
    background-color: #d9d9d9;
    border: none;
    border-radius: 20rem;
    color: #666666;
    font-weight: 600;
    height: 3.5rem;
    margin: 4.5rem auto 10rem;
    width: 11rem;
}