{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% load static %}


{% block css %}
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 5%;">
  What chat room would you like to enter?<br>
  <input id="room-name-input" type="text" size="100"><br>
  <input id="room-name-submit" type="button" value="Enter">

</div>

<script>
  document.querySelector('#room-name-input').focus();
  document.querySelector('#room-name-input').onkeyup = function (e) {
    if (e.keyCode === 13) {  // enter, return
      document.querySelector('#room-name-submit').click();
    }
  };

  document.querySelector('#room-name-submit').onclick = function (e) {
    var roomName = document.querySelector('#room-name-input').value;
    window.location.pathname = '/chat/' + roomName + '/';
  };
</script>




{% endblock %}

{% block js %}
{% endblock js %}