<footer class="">
  <div class="d-flex justify-content-end mb-4 me-4 fixed-bottom" style="z-index: 2;">
    <button onclick="topFunction()" class="topBtn" title="Go to top">Top</button>
  </div>
  <nav class="navbar d-flex justify-content-center align-content-center opacity-75" style="background-color: #f38524; height: 3rem; z-index: 1;">
      <a class="text-decoration-none text-white" href="#">
        🍧 Supported by HyperGrowth 🍧
      </a>
  </nav>
</footer>
<script type="text/javascript" src="/static/js/footer.js"></script>