{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="me-4 my-4">가입</h1>
    <a href="{% url 'main' %}" class="btn btn-outline-secondary">HOME</a>
  </div>
  <div class="p-4">
    <form action="{% url 'accounts:signup' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" class="form-control" name="next" value="{{ request.GET.next }}">
      {% bootstrap_form form %}
      {% bootstrap_button button_class="btn-primary form-control" button_type="submit" content="OK" %}
      <a class="btn btn-secondary form-control my-3" href="{% url 'main' %}">HOME</a>
    </form>
  </div>
{% endblock content %}