{% extends 'base.html' %}

{% block body %}
<h1>{{ user.username }}님의 프로필</h1>
<p>{{ user.email }} | {{ user.full_name }}</p>
<div class="row">
    <div class="col-6">
        <h3>작성한 글</h3>
        <p class="text-muted">{{ user.article_set.count }}개를 작성하였습니다.</p>
        {% for article in user.article_set.all %}
        <p>
            {{ forloop.counter }}
            <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
        </p>
        {% endfor %}
    </div>
    <div class="col-6">
        <h3>작성한 댓글</h3>
        <p class="text-muted">{{ user.comment_set.count }}개를 작성하였습니다.</p>
        {% for comment in user.comment_set.all %}
        <p>
            {{ forloop.counter }}
            <a href="{% url 'articles:detail' comment.article_id %}">{{ comment.content }}</a>
        </p>
        {% endfor %}
    </div>
</div>
{% endblock body %}