{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock css %}

<div class="footer">
  <div class="real-container">
    <!-- 글자 -->
    <p class="footer-text">만든 사람 <span class="bold">성윤, 나현, 서림, 세철, 희동</span><br>
      K-DIGITAL TRAINING 1기<br>
      (C) ByeolDaBang, 2022. All Right Not ;) Reserved</p>

    <!-- follow 깃허브 주소 -->
    <div class="follow-us">
      <p class="follow-us-text">Follow us</p>
      <div class="follow-us-img">
        <a href="https://github.com/jsy78">
          <img src="https://avatars.githubusercontent.com/u/63091836?v=4" alt="조성윤">
        </a>
        <a href="https://github.com/nahkim">
          <img src="https://avatars.githubusercontent.com/u/48798620?v=4" alt="김나현">
        </a>
        <a href="https://github.com/baeseorim">
          <img src="https://avatars.githubusercontent.com/u/108659274?v=4" alt="배서림">
        </a>
        <a href="https://github.com/chul1631">
          <img src="https://avatars.githubusercontent.com/u/108647398?v=4" alt="손세철">
        </a>
        <a href="https://github.com/KIMHEEKIMHEE">
          <img src="https://avatars.githubusercontent.com/u/108660653?v=4" alt="김희동">
        </a>
      </div> <!-- follow-us-img 끝남 -->
    </div>
    <!--follow-us 끝남 -->
  </div> <!-- real-container 끝남 -->
</div> <!-- footer 끝남 -->