{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'cafes/css/category.css' %}" />
{% endblock css %}

{% block content %}
<!-- (카테고리명) 카페 -->
<p class="result-text">
  <span class="cate-title">{{ articleCategory }}</span> 카페
</p>

<div class="cafe-list">
  {% for article in articles %}
  <div class="a-cafe">
    <!-- 카페 위치 -->
    <div class="cafe-address">
      <img src="https://cdn-icons-png.flaticon.com/512/67/67872.png" alt="위치 아이콘" />
      <p>{{ article.address }}</p>
    </div>

    <!-- 카페 이미지-->
    <a href="{% url 'cafes:cafe_detail' article.pk %}"><img src="{{ article.image1.url }}" alt="카페 사진" /></a>

    <div class="cafe-text">
      <div class="name-hash">
        <!-- 카페 이름 -->
        <a href="{% url 'cafes:cafe_detail' article.pk %}" class="name">
          <p>{{ article.name }}</p>
        </a>

        <!-- 짭해시태그 -->
        <div class="hash">
          <!-- 카테고리 -->
          {% if article.cafeType == '분위기가 좋은' %}
          <form action="{% url 'cafes:category' '분위기가 좋은' %}">
            <button type="submit" class="a-hash">
              <p>#{{ article.cafeType }}</p>
              <input type="button" value="{{ article.cafeType }}" name="button" class="category-value" />
            </button>
          </form>

          {% elif article.cafeType == '디저트가 맛있는' %}
          <form action="{% url 'cafes:category' '디저트가 맛있는' %}">
            <button type="submit" class="a-hash">
              <p>#{{ article.cafeType }}</p>
              <input type="button" value="{{ article.cafeType }}" name="button" class="category-value" />
            </button>
          </form>

          {% elif article.cafeType == '커피가 맛있는' %}
          <form action="{% url 'cafes:category' '커피가 맛있는' %}">
            <button type="submit" class="a-hash">
              <p>#{{ article.cafeType }}</p>
              <input type="button" value="{{ article.cafeType }}" name="button" class="category-value" />
            </button>
          </form>

          {% elif article.cafeType == '작업하기 좋은' %}
          <form action="{% url 'cafes:category' '작업하기 좋은' %}">
            <button type="submit" class="a-hash">
              <p>#{{ article.cafeType }}</p>
              <input type="button" value="{{ article.cafeType }}" name="button" class="category-value" />
            </button>
          </form>

          {% elif article.cafeType == '커피가 저렴한' %}
          <form action="{% url 'cafes:category' '커피가 저렴한' %}">
            <button type="submit" class="a-hash">
              <p>#{{ article.cafeType }}</p>
              <input type="button" value="{{ article.cafeType }}" name="button" class="category-value" />
            </button>
          </form>

          {% elif article.cafeType == '이색적인' %}
          <form action="{% url 'cafes:category' '이색적인' %}">
            <button type="submit" class="a-hash">
              <p>#{{ article.cafeType }}</p>
              <input type="button" value="{{ article.cafeType }}" name="button" class="category-value" />
            </button>
          </form>
          {% endif %}

          <!-- 별점 -->
          <form action="">
            <button type="button" class="a-hash">
              {% if article.average_rate != None %}
              <p>#{{ article.average_rate|floatformat }}점</p>
              <input type="button" value="{{ article.average_rate }}" name="button" class="category-value" />
              {% endif %}
            </button>
          </form>

          <!-- 맛집 -->
          <form action="">
            <button type="button" class="a-hash">
              {% if article.average_rate >= 4.0 %}
              <p>#맛집</p>
              <input type="button" name="button" class="category-value" />
              {% endif %}
            </button>
          </form>

          <!-- 주소 -->
          <form action="">
            <button type="button" class="a-hash">
              {% if article.sido == '서울' %}
              <p>#{{ article.sido }} {{ article.sigungu }}</p>
              <input type="button" value="{{ article.sido }} {{ article.sigungu }}" name="button"
                class="category-value" />

              {% elif article.sido == '부산' %}
              <p>#{{ article.sido }} {{ article.sigungu }}</p>
              <input type="button" value="{{ article.sido }} {{ article.sigungu }}" name="button"
                class="category-value" />

              {% elif article.sido == '대구' %}
              <p>#{{ article.sido }} {{ article.sigungu }}</p>
              <input type="button" value="{{ article.sido }} {{ article.sigungu }}" name="button"
                class="category-value" />

              {% elif article.sido == '인천' %}
              <p>#{{ article.sido }} {{ article.sigungu }}</p>
              <input type="button" value="{{ article.sido }} {{ article.sigungu }}" name="button"
                class="category-value" />

              {% elif article.sido == '광주' %}
              <p>#{{ article.sido }} {{ article.sigungu }}</p>
              <input type="button" value="{{ article.sido }} {{ article.sigungu }}" name="button"
                class="category-value" />

              {% elif article.sido == '대전' %}
              <p>#{{ article.sido }} {{ article.sigungu }}</p>
              <input type="button" value="{{ article.sido }} {{ article.sigungu }}" name="button"
                class="category-value" />

              {% elif article.sido == '울산' %}
              <p>#{{ article.sido }} {{ article.sigungu }}</p>
              <input type="button" value="{{ article.sido }} {{ article.sigungu }}" name="button"
                class="category-value" />

              {% else %}
              <p>#{{ article.sigungu }}</p>
              <input type="button" value="{{ article.sigungu }}" name="button" class="category-value" />
              {% endif %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}

{% block js %}
{% endblock js %}