{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% bootstrap_css %}
  {% block css %}{% endblock css %}
</head>
<body>
  {% if request.user.is_authenticated %}
    <span>{{ request.user }}</span>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
  {% else %}
    <a href="{% url 'accounts:signup' %}">회원가입</a>
    <a href="{% url 'accounts:login' %}">로그인</a>
  {% endif %}

  <div class="container my-5">
    {% block body %}{% endblock body %}
  </div>
  {% bootstrap_javascript %}
</body>

</html>