{% extends 'base.html' %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="my-4">메인</h1>
  </div>
  {% if request.user.is_authenticated %}
    <div class="fs-5 text-center my-3">
      <a href="{% url 'accounts:profile' %}">{{ request.user }}({{ request.user.full_name }})</a>님, 환영합니다.
    </div>
  {% endif %}
  <div class="p-4">
    <div class="row justify-content-center mb-3">
      <div class="col-12 col-md-8 col-lg-4">
        <a class="btn btn-primary form-control" href="{% url 'accounts:index' %}">회원 목록</a>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-12 col-md-8 col-lg-4">
        <a class="btn btn-primary form-control" href="{% url 'articles:index' %}">게시글 목록</a>
      </div>
    </div>
  </div>
{% endblock content %}