{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height:800px">
  <!-- 뒤로가기 버튼 -->
  <div>
    <button class="prev_button" type="submit" onclick="history.go(-1)">
      <i class="bi bi-chevron-left"></i>
    </button>
  </div>
  <!-- 비밀번호 변경 폼 -->
  <div class="update_wrapper">
    <form method="POST">
      {% csrf_token %}
      <div class="form_list">
        <div class="form_field">
          <!-- input : 기존 비밀번호 -->
          {% render_field form.old_password class="user_input" placeholder="기존 비밀번호" %}
          <!-- 에러 메시지 출력 -->
          {% for error in form.old_password.errors %}
              <div class="invalid-feedback d-block">
              {{ error }}
              </div>
          {% endfor %}
        </div>
        <div class="form_field">
          <!-- input : 새로운 비밀번호 -->
          {% render_field form.new_password1 id="new_password1" class="user_input" placeholder="새 비밀번호" %}
          <!-- 에러 메시지 출력 -->
          {% for error in form.new_password1.errors %}
              <div class="invalid-feedback d-block">
              {{ error }}
              </div>
          {% endfor %}
        </div>
        <div class="form_field">
          <!-- input : 새로운 비밀번호 확인 -->
          {% render_field form.new_password2 id="new_password2" class="user_input" placeholder="새 비밀번호 확인" %}
          <!-- 에러 메시지 출력 -->
          {% for error in form.new_password2.errors %}
              <div style="white-space: nowrap;" class="invalid-feedback d-block">
              {{ error }}
              </div>
          {% endfor %}
        </div>
          <!-- submit 버튼 -->
        <div class="form_field text-center">
            <button type="submit" class="password_change_btn">수정</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block js %}{% endblock %}
