{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock css %}

{% block content %}
  <div class="bg-effect">
    <form action="{% url 'accounts:login' %}" method="POST" enctype="multipart/form-data" class="login-form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <p class="go-signup">
        <a href="{% url 'accounts:signup' %}">회원이 아니신가요?</a>
      </p>
      <button type="submit" class="login-button">로그인</button>
    </form>
  </div>
{% endblock content %}