{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/password.css' %}">
{% endblock css %}

{% block content %}
  <div class="password">
    <form action="" method="POST" class="password-form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="buttons">
        <button type="submit" class="update-button">수정</button>
        <button type="button" class="back-button" onclick="location.href='{% url 'accounts:update' %}' ">취소</button>
      </div>
    </form>
  </div>
{% endblock content %}