{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block css %}{% endblock css %}

{% block content %}
  <div class="container-lg">
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 6rem">
      {% if request.resolver_match.url_name == "product_create" %}
        <h1 class="my-2 fw-bold" style="color: #E84545;">판매글 작성</h1>
      {% elif request.resolver_match.url_name == "product_update" %}
        <h1 class="my-2 fw-bold" style="color: #E84545;" >판매글 수정</h1>
      {% endif %}
    </div>
    <div class="p-0 p-lg-4">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" class="form-control" name="next" value="{{ request.GET.next }}">
        {% bootstrap_form form %}
        <div class="mb-3 text-end">
          <button class="btn btn-outline-danger form-control" type="submit" style="max-width: 450px;">OK</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <!-- 주소 API -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
    const locationInput = document.querySelector("#id_location")
    locationInput.addEventListener("click", function () {
      new daum.Postcode({
        oncomplete: function (data) {
          // 주소 정보를 해당 필드에 넣는다.
          locationInput.value = `${data.sido} ${data.sigungu}`
        }
      }).open()
    })
  </script>
{% endblock js %}
