{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %} 
<h1>{{ article.title }}</h1>
<p>{{ article.pk }}번 게시글 | <a href="{% url 'accounts:detail' article.user.pk %}">{{ article.user.username }}</a></p>
<p>{{ article.created_at|date:"SHORT_DATETIME_FORMAT" }} | {{ article.updated_at|date:"y-m-d D" }}</p>
{% if request.user.is_authenticated %}
  {% if request.user in article.like_users.all %}
    <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart-fill"></i>
  {% else %}
    <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart"></i>
  {% endif %}
{% endif %}
<span id="like-count">{{ article.like_users.count }}</span>

{% if request.user == article.user %}
<p>
  <a href="{% url 'articles:update' article.pk %}">수정하기</a>
</p>
{% endif %}
<hr>
<p>{{ article.content }} </p>
{% if article.image %}
  <img src="{{ article.image.url }}" alt="{{ article.image }}" width="400" height="300">
{% endif %}
<hr>
<h4 class="my-3">댓글</h4>
{% if request.user.is_authenticated %}
<form id="comment-form" data-article-id="{{ article.pk }}">
  {% csrf_token %}
  {% bootstrap_form comment_form layout='floating'%}
  {% bootstrap_button button_type="submit" content="OK" %}
</form>
{% endif %}
<hr>
<div id="comments">
{% for comment in comments %}
  <p> {{ comment.user.username }} | {{ comment.content }}</p>
  <hr>    
{% empty %}
  <p>댓글이 없어요 ㅠ_ㅠ</p>
{% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  // (1) 좋아요 버튼
  const likeBtn = document.querySelector('#like-btn')
  // (2) 좋아요 버튼을 클릭하면, 함수 실행
  likeBtn.addEventListener('click', function (event) {
    // 서버로 비동기 요청을 하고 싶음
    console.log(event.target.dataset)
    axios({
      method: 'get',
      url: `/articles/${event.target.dataset.articleId}/like/`
    })
    .then(response => {
      console.log(response)
      console.log(response.data)
      // event.target.classList.toggle('bi-heart')
      // event.target.classList.toggle('bi-heart-fill')
      if (response.data.isLiked === true) {
        event.target.classList.add('bi-heart-fill')
        event.target.classList.remove('bi-heart')
      } else {
        event.target.classList.add('bi-heart')
        event.target.classList.remove('bi-heart-fill')
      }
      const likeCount = document.querySelector('#like-count')
      likeCount.innerText = response.data.likeCount
    })
  })
</script>
<script>
  // 댓글!
  // (1) 댓글 폼
  const commentForm = document.querySelector('#comment-form')
  // (2) 제출하면, 함수 실행시킬래 
  // csrf 
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  commentForm.addEventListener('submit', function(event) {
    event.preventDefault();
    axios({
      method: 'post',
      url: `/articles/${event.target.dataset.articleId}/comments/`,
      headers: {'X-CSRFToken': csrftoken},
      data: new FormData(commentForm) // 폼에 있는 정보를 data로 넘겨줄 수 있도록 변환
    })
    .then(response => {
      console.log(response.data)
      // 댓글을 추가하는 로직
      const comments = document.querySelector('#comments')
      const p = document.createElement('p')
      p.innerText = `${response.data.userName} | ${response.data.content}`
      const hr = document.createElement('hr')
      comments.append(p, hr) 
      commentForm.reset()
    })
  })
</script> 
{% endblock %}
