{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="me-4 my-4">수정</h1>
    <a href="{% url 'articles:detail' article_pk %}" class="btn btn-outline-secondary">BACK</a>
  </div>
  <div class="p-4">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-6">
        <form class="form" action="{% url 'articles:update' article_pk %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" class="form-control" name="next" value="{{ request.GET.next }}">
          {% bootstrap_form form %}
          <button class="btn btn-outline-primary form-control mb-3" type="submit">OK</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}