{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="my-4">회원 정보 변경</h1>
  </div>
  <div class="p-4">
    <form action="{% url 'accounts:update' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" class="form-control" name="next" value="{{ request.GET.next }}">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-6">
          {% bootstrap_form form %}
        </div>
      </div>
      <div class="row justify-content-center my-3">
        <div class="col-sm-12 col-md-10 col-lg-6">
          <button class="btn form-control text-white" type="submit" style="background: #ea449a;">변경하기</button>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-6">
          <a href="#" class="btn btn-secondary form-control col-6">취소</a>
        </div>
      </div>
      
    </form>
  </div>
{% endblock content %}