{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/notes.css' %}">
{% endblock css %}

{% block content %}
  <div class="container" style="margin-top: 10rem">
    <div class="p-4">
      <div class="row">
        <div class="col-12 col-lg-2 mb-5">
          <div class="list-group">
            <a href="{% url 'notes:send' %}" class="list-group-item list-group-item-action" style="background-color: #E84545; color:white;">쪽지 쓰기</a>
            <a href="{% url 'notes:sent_box' %}" class="list-group-item list-group-item-action">보낸 쪽지함</a>
            <a href="{% url 'notes:received_box' %}" class="list-group-item list-group-item-action">받은 쪽지함</a>
            <a href="{% url 'notes:important_box' %}" class="list-group-item list-group-item-action">중요 쪽지함</a>
            <a href="{% url 'notes:trash_box' %}" class="list-group-item list-group-item-action">휴지통</a>
          </div>
        </div>
        <div class="col-12 col-md-10">
          <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="text-end">
              <button type="submit" class="btn btn-danger">전송</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}{% endblock js %}
