.tag_button {
    height: 40px;
    line-height: 38px;
    border: 0px;
    outline: 0px;
    margin: 3px;
}

.tag_text {
    height: 100%;
    cursor: pointer;
    font-size: 16px;
    background-color: #E84545;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
}

.post_title {
    margin: 3px;
    font-weight: bold;
    font-size: 30px;
}

.post_detail {
    margin: 7px;
}

.tag_a {
    text-decoration: none;
    color: black;
}

.tag_a:hover {
    color: black;
}

.tag_box {
    height: 120px;
    width: 100%;
}

.tag_profil {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin: 3px
}

.bi-plus-circle {
    color: #E84545;
    font-size: 33px;
    margin: 3px;
    line-height: 25px;
}

.tag_top {
    margin-top: 5%;
}

.profil_box {
    margin-top: 12px;

}


@media (max-width: 767px) {
    .tag_box {
        height: 180px;
        width: 100%;
    }

    .tag_profil {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin: 3px
    }

    .bi-plus-circle {
        color: #E84545;
        font-size: 28px;
        margin: 3px;
        line-height: 25px;
    }

    .tag_top {
        margin-top: 15%;
    }

    .post_title {
        margin: 3px;
        font-weight: bold;
        font-size: 18px;
    }

    .detail {
        display: block;
    }

    .profil_box {
        margin-top: 0px;

    }


}

.index_title {
    color: #E84545;

}