{% load static %}
<!-- 탑 버튼 -->
<a href="#" class="top-btn text-black">
    <div>
        <i class=" footer_up bi bi-chevron-up"></i>
    </div>
</a>
<!-- 백 버튼 -->
<button class="back_btn btn btn_div " type="button" onclick="window.history.back()"><i class="bi bi-chevron-left"></i></button>


<!-- 푸터 -->
<div class="footer_main">
    <div class="container">
        <footer class="py-3">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li><div class="nav-link px-2 text-light"><i class="bi bi-github"></i></div></li>
                <li><a href="https://github.com/suyoung049" class="nav-link px-2 text-light">suyoung049</a></li>
                <li><a href="https://github.com/myeonghwan57" class="nav-link px-2 text-light">myeonghwan57</a></li>
                <li><a href="https://github.com/jsy78" class="nav-link px-2 text-light">jsy78</a></li>
                <li><a href="https://github.com/woocheolll" class="nav-link px-2 text-light">woocheolll</a></li>
                <li><a href="https://github.com/jaejae200" class="nav-link px-2 text-light">jaejae200</a></li>
                <li><a href="https://github.com/midhyun" class="nav-link px-2 text-light">midhyun</a></li>
            </ul>

            <p class="footer_content text-center">© 남자의 자격 男, Inc</p>
        </footer>

    </div>
</div>
<!-- 푸터 -->