{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}
{% load humanize %}
{% block css %}
<style>
.plus-btn {
  position: fixed;
  z-index: 3;
  bottom: 150px;
  right: 23px;
}

.plus-btn div {
  color: #E84545;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 4px 4px 25px 0px #0714271f;
}
</style>
{% endblock css %}

{% block content %}
<div>
  <!-- 메인 페이지 배너 hover(예정) -->
  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img class="img-fluid" src="{% static 'image/bg_1.jpg' %}"></div>
      <div class="swiper-slide"><img class="img-fluid" src="{% static 'image/bg_2.jpg' %}"></div>
      <div class="swiper-slide"><img class="img-fluid" src="{% static 'image/bg_3.jpg' %}"></div>
      <div class="swiper-slide"><img class="img-fluid" src="{% static 'image/bg_4.jpg' %}"></div>
      <div class="swiper-slide"><img class="img-fluid" src="{% static 'image/bg_5.jpg' %}"></div>
      <div class="swiper-slide"><img class="img-fluid" src="{% static 'image/bg_6.jpg' %}"></div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 6000,
        disableOnInteraction: false
      },
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      }
    });
  </script>

  <div class='container justify-content-center post_page'>
    <div style='width:100%'>
      <!-- 인기 모임 글 -->
      <div class='my-5'>
        <a style="text-decoration: none;" href="/hobby/index/tag/hits">
          <h3 class="main_color fw-bold"> Hot 소셜링<i class="bi bi-chevron-right"></i></h3>
        </a>
        <div class="d-flex justify-content-center">
          <div class='d-flex flex-column post_size'>
            {% for tag_post in posts_hit %}
            {% if tag_post.host not in request.user.blocking.all %}
            <a href="{% url 'hobby:detail' tag_post.pk %}" class="tag_a">
              <div class='d-flex my-2 post'>
                <div class="col-4">
                  {% if tag_post.image %}
                  <img class='post_img' src="{{ tag_post.image.url }}" style='width:100%; height: 250px;'>
                  {% else %}
                  <img class='post_img' src="{% static 'images/더미이미지.png' %}" alt="...">
                  {% endif %}
                </div>
                <div class="d-flex align-items-center">
                  <div class='mx-5'>
                    <div class='my-3'>
                      <small class="tag p-1"> {{ tag_post.tags }}</small>
                    </div>
                    <p class="post_title">{{ tag_post.title }}</p>
                    <small class='text-muted post_detail'>
                      <span class="detail">
                        <i class="bi bi-geo-alt-fill"></i>
                        {{ tag_post.address }}&nbsp;
                      </span>
                      <span class="detail">
                        <i class="bi bi-calendar-check-fill"></i>
                        {{ tag_post.meeting_day|date:'m.d(D) af' }}&nbsp;
                      </span>
                      <span class="detail">
                        <i class="bi bi-people-fill"></i>
                        {{ tag_post.joinmembers }}/{{ tag_post.limit }}</small>
                    </span>
                    <div class="profil_box d-flex">
                      {% for member in tag_post.accepted.all %}
                      {% if forloop.counter <= 6 %} {% if member.joined == 1 %} {% if member.user.image %} <img
                        class="tag_profil" src="{{ member.user.image.url }}">
                        {% else %}
                        <img class="tag_profil" src="{% static 'images/프로필.png' %}">
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <i class="bi bi-plus-circle"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class='my-5'>
        <a style="text-decoration: none;" href="/hobby/index/tag/news">
          <h3 class="main_color fw-bold"> New 소셜링<i class="bi bi-chevron-right"></i></h3>
        </a>
        <div class="d-flex justify-content-center">
          <div class='d-flex flex-column post_size'>
            {% for tag_post in posts_new %}
            {% if tag_post.host not in request.user.blocking.all %}
            <a href="{% url 'hobby:detail' tag_post.pk %}" class="tag_a">
              <div class='d-flex my-2 post'>
                <div class="col-4">
                  {% if tag_post.image %}
                  <img class='post_img' src="{{ tag_post.image.url }}" style='width:100%; height: 250px;'>
                  {% else %}
                  <img class='post_img' src="{% static 'images/더미이미지.png' %}" alt="...">
                  {% endif %}
                </div>
                <div class="d-flex align-items-center">
                  <div class='mx-5'>
                    <div class='my-3'>
                      <small class="tag p-1"> {{ tag_post.tags }}</small>
                    </div>
                    <p class="post_title">{{ tag_post.title }}</p>
                    <small class='text-muted post_detail'>
                      <span class="detail">
                        <i class="bi bi-geo-alt-fill"></i>
                        {{ tag_post.address }}&nbsp;
                      </span>
                      <span class="detail">
                        <i class="bi bi-calendar-check-fill"></i>
                        {{ tag_post.meeting_day|date:'m.d(D) af' }}&nbsp;
                      </span>
                      <span class="detail">
                        <i class="bi bi-people-fill"></i>
                        {{ tag_post.joinmembers }}/{{ tag_post.limit }}</small>
                    </span>
                    <div class="profil_box d-flex">
                      {% for member in tag_post.accepted.all %}
                      {% if forloop.counter <= 6 %} {% if member.joined == 1 %} {% if member.user.image %} <img
                        class="tag_profil" src="{{ member.user.image.url }}">
                        {% else %}
                        <img class="tag_profil" src="{% static 'images/프로필.png' %}">
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <i class="bi bi-plus-circle"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- 관심 모임 글 -->
      <div class='my-5'>
        <a style="text-decoration: none;" href="/hobby/index/tag/likes">
          <h3 class="main_color fw-bold"> My type 소셜링<i class="bi bi-chevron-right"></i></h3>
        </a>
        <div class="d-flex justify-content-center">
          <div class='d-flex flex-column post_size'>
            {% for tag_post in posts_like %}
            {% if tag_post.host not in request.user.blocking.all %}
            <a href="{% url 'hobby:detail' tag_post.pk %}" class="tag_a">
              <div class='d-flex my-2 post'>
                <div class="col-4">
                  {% if tag_post.image %}
                  <img class='post_img' src="{{ tag_post.image.url }}" style='width:100%; height: 250px;'>
                  {% else %}
                  <img class='post_img' src="{% static 'images/더미이미지.png' %}" alt="...">
                  {% endif %}

                </div>
                <div class="d-flex align-items-center">
                  <div class='mx-5'>
                    <div class='my-3'>
                      <small class="tag p-1"> {{ tag_post.tags }}</small>
                    </div>
                    <p class="post_title">{{ tag_post.title }}</p>
                    <small class='text-muted post_detail'>
                      <span class="detail">
                        <i class="bi bi-geo-alt-fill"></i>
                        {{ tag_post.address }}&nbsp;
                      </span>
                      <span class="detail">
                        <i class="bi bi-calendar-check-fill"></i>
                        {{ tag_post.meeting_day|date:'m.d(D) af' }}&nbsp;
                      </span>
                      <span class="detail">
                        <i class="bi bi-people-fill"></i>
                        {{ tag_post.joinmembers }}/{{ tag_post.limit }}</small>
                    </span>
                    <div class="profil_box d-flex">
                      {% for member in tag_post.accepted.all %}
                      {% if forloop.counter <= 6 %} {% if member.joined == 1 %} {% if member.user.image %} <img
                        class="tag_profil" src="{{ member.user.image.url }}">
                        {% else %}
                        <img class="tag_profil" src="{% static 'images/프로필.png' %}">
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <i class="bi bi-plus-circle"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class='my-5'>
        <a style="text-decoration: none;" href="{% url 'products:index' %}">
          <h3 class="main_color fw-bold"> 중고거래 <i class="bi bi-chevron-right"></i></h3>
        </a>
        <div class="d-flex justify-content-center mt-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2 g-md-4 mb-4 infinite-container" style="width: 910px;" id="scroll_data" data-scroll="{{ products }}">
            {% for product in page_obj %}
            {% if product.user not in request.user.blocking.all %}
            <div class="col infinite-item">
              <a href="{% url 'products:product_detail' product.pk %}" class="text-decoration-none">
                <div class="card h-100">
                  {% if product.thumbnail %}
                  <img src="{{ product.thumbnail.url }}" class="card-img-top img-fluid" alt="thumbnail">
                  {% else %}
                  <img src="https://dummyimage.com/200/000/fff" class="card-img-top" alt="dummyimage">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title text-black">{{ product.title }}</h5>
                    <h4 class="card-text text-black fw-bold mb-2">{{ product.price|intcomma }}원</h4>
                    <a href="{% url 'accounts:detail' product.user.pk %}" class="card-text text-decoration-none products_user">{{ product.user.nickname }}</a>
                  </div>
                </div>
              </a>
            </div>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="{% url 'hobby:create' %}" class='plus-btn'>
  <div>
    <i class="bi bi-plus"></i>
  </div>
</a>
<!-- JQuery CDN !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- WayPoints CDN !-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js"></script>
<script>
  let infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    offset: 'bottom-in-view',
    onBeforePageLoad: () => { },
    onAfterPageLoad: () => { }
  })
</script>

{% endblock content %}

{% block js %}{% endblock js %}